---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="QUTE">
  <main>
    <img src="/qute-logo.png" class="astro-a" width="495" height="623" />
    <h1><span class="text-gradient">QUTE</span></h1>
    <p class="instructions">
      Building standard, open, and safe AI platform for QUr'an TEachings.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://quranchat.me"
        title="QuranChat.me"
        body="Real life showcase implemented in QuranChat.me."
      />
      <Card
        href="https://instagram.com/qute.id/"
        title="Social media"
        body="Follow our social media to get updates."
      />
      <Card
        href="https://github.com/qute-dev"
        title="Github"
        body="Check our open repository for corpus and sources."
      />
      <Card
        href="https://github.com/qute-dev"
        title="R&D"
        body="Our research and development updates."
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    opacity: 0.5;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    margin-top: 5rem;
    opacity: 0.9;
    /* background-image: var(--accent-gradient); */
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
